<div class="h-full max-sm:py-2 text-white relative">
  <div class="w-[70%] max-lg:w-[90%] mx-auto py-10 max-sm:py-2 h-full">
    <div class="w-full flex items-center gap-10 max-sm:gap-5 justify-between">
      <div
        class="flex gap-10 items-center max-sm:gap-4"
        (click)="showOptions()"
      >
        <button
          class="h-24 w-24 max-sm:h-16 max-sm:w-16 rounded-full flex justify-center items-center"
        >
          <div
            class="rounded-full grid place-content-center p-2 shadow-2xl z-10"
          >
            <img
              class="h-full w-full max-sm:h-full max-sm:w-full"
              src="/assets/images/icon-menu.svg"
              alt=""
            />
          </div>
        </button>
        <h1
          *ngIf="gameToPlay"
          class="font-bold text-white text-5xl max-sm:text-3xl tracking-wide"
        >
          {{ gameToPlay.name }}
        </h1>
      </div>

      <div
        class="flex gap-5 max-sm:gap-3 w-[30vw] max-sm:w-[35vw] items-center"
      >
        <div class="h-6 bg-white w-[80%] rounded-full flex items-center p-2">
          <div
            class="h-4 bg-blue-1 rounded-full"
            [ngStyle]="{
              width: width + '%'
            }"
          ></div>
        </div>
        <img class="w-8 h-8" src="/assets/images/icon-heart.svg" alt="" />
      </div>
    </div>
    <div
      class="w-full flex flex-col justify-center items-center mt-10 max-md:mt-16 max-sm:mt-10 h-[70vh]"
    >
      <div class="w-full flex justify-center items-center">
        <div class="flex w-full max-sm:w-full p-2">
          <div
            class="w-full grid grid-cols-8 max-md:grid-cols-6 gap-5 gap-y-5 place-items-center place-content-center"
          >
            <div
              *ngFor="let letter of guessedWord"
              [ngClass]="{
                'opacity-50': letter === ''
              }"
              class="w-20 h-14 max-md:w-16 max-md:h-12 max-sm:w-12 max-sm:h-12 bg-blue-2 rounded-2xl grid place-content-center"
            >
              <p class="text-5xl max-md:text-4xl max-sm:text-2xl">
                {{ letter }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="w-full max-sm:w-full flex justify-center items-center mt-24 max-mt-10 max-sm:mt-8"
      >
        <div class="w-full p-2">
          <div
            class="grid grid-cols-8 max-md:grid-cols-6 gap-5 max-md:gap-3 px-2 max-sm:px-0 place-items-center place-content-center"
          >
            <div
              *ngFor="let letter of letters"
              (click)="getLetterValue(letter)"
              [ngClass]="{
                'opacity-15': clickedLetters.has(letter)
              }"
              class="w-20 h-14 max-md:w-16 max-md:h-12 max-sm:w-12 max-sm:h-12 bg-white hover:bg-blue-2 text-blue-1 hover:text-white rounded-2xl grid place-content-center cursor-pointer"
            >
              <p class="text-5xl max-md:text-4xl max-sm:text-2xl">
                {{ letter }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------pop up----------------------------- -->

  <div
    class="w-full h-full flex items-center justify-center absolute top-0 left-0 bg-black bg-opacity-40 z-10"
    [ngClass]="{
      block: isOpen === true,
      hidden: isOpen === false
    }"
  >
    <div
      class="w-[28rem] h-[24rem] max-sm:w-[20rem] rounded-[2rem] linear-blue linear-blue relative"
    >
      <img
        class="-mt-20 mx-auto max-sm:w-[80%] max-sm:-mt-20 w-48 h-32 {{
          life === 0 ? 'block' : 'hidden'
        }} "
        src="/assets/images/icon-loose.svg"
        alt=""
      />
      <img
        class="-mt-20 mx-auto w-48 h-32 {{
          isDone === true && life > 0 ? 'block' : 'hidden'
        }}"
        src="/assets/images/icon-win.svg"
        alt=""
      />
      <img
        class="-mt-20 mx-auto w-48 h-32 {{
          isDone === false && life > 0 ? 'block' : 'hidden'
        }}"
        src="/assets/images/icon-pause.svg"
        alt=""
      />
      <div class="mt-10 flex flex-col items-center justify-center gap-6">
        <button
          (click)="playAgain()"
          class="text-white text-center text-4xl py-2 px-10 rounded-full bg-blue-2 shadow-lg uppercase btn-shadow {{
            life ==0 || isDone === true? 'block' : 'hidden'
          }}"
        >
          <div class="transition ease-in-out duration-300 rounded-full">
            play again!
          </div>
        </button>

        <button
          (click)="continue()"
          class="text-white text-center text-4xl py-2 px-10 rounded-full bg-blue-2 shadow-lg uppercase btn-shadow {{
            life > 0 && !isDone ? 'block' : 'hidden'
          }}"
        >
          <div class="transition ease-in-out duration-300 rounded-full">
            continue
          </div>
        </button>

        <button
          (click)="goToCategories()"
          class="text-white text-center text-4xl py-2 px-10 rounded-full bg-blue-2 shadow-lg uppercase btn-shadow"
        >
          <div class="transition ease-in-out duration-300 rounded-full">
            new category
          </div>
        </button>

        <button
          (click)="quitGame()"
          class="text-white text-center text-4xl py-2 px-10 rounded-full linear-pinky shadow-lg uppercase btn-quick-shadow"
        >
          <div class="transition ease-in-out duration-300 rounded-full">
            quit game
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
